body {
  background-color: #F5F7FB;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Karla;
}
body::before {
  content: '';
  background-color: lemonchiffon;
  width: 297px;
  height: 235px;
  display: block;
  position: absolute;
  top: -130px;
  right: -130px;
  transform: rotate(45deg);
  z-index: -1;
}
body::after {
  content: '';
  background-color: #DEEBF8;
  width: 297px;
  height: 235px;
  display: block;
  position: absolute;
  bottom: -130px;
  left: -130px;
  border-radius: 50%;
  z-index: -1;
}
main {
  justify-content: center;
  align-items: center;
  padding: 50px;
  z-index: 1;
}
.box-start {
  text-align: center;
}
.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4D5B9E;
  border: none;
  color: #F5F7FB;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px auto;
  display: block;
}
h2 {
  color: #293264;
}
.answer-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.answer-list div {
  color: #293264;
  border: 1px solid #293264;
  border-radius: 15px;
  padding: 5px;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.answer-list .selected {
  background-color: #D6DBF5;
}

/* Styling at checking answer */
.answer .answer-list .selected[data-ismatched="matched"] {
  background-color: #94D7A2;
  opacity: 1;
}
.answer .answer-list .selected {
  background-color: #94D7A2;
  opacity: 0.5;
}
.answer .answer-list [data-iscorrect="correct"] {
  background-color: #94D7A2;
  opacity: 1;
}

.score-board {
  border: 2px solid #4D5B9E;
  max-width: 300px;
  text-align: center;
  margin: 50px auto;
  padding: 5px;
}